/***** GLOBAL *****/
article.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "orpheuspro", serif !important;
	margin: 5rem 0 0 0;
	max-width: 100%;}
/***** END GLOBAL *****/

/***** ABSTRACT *****/
.abstract .heading_font {
	font-family: "orpheuspro", serif !important;
	font-feature-settings: "salt";
	text-align: center;}
.abstract p {
	font-family: "sofia-pro", sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 50%;}
.abstract p.chapter-number {
	text-align: center;
	max-width: 100%;}
.footer--abstract {
	display: flex;
	flex-direction; row;
	align-items: center;
	justify-content: space-between;}
.footer--abstract a {
	display: block;}
/***** END ABSTRACT *****/

/***** CHAPTER SECTION PAGE *****/
/* I'm not able to target any of this with just CSS, instead
it has to be included in the custom CSS modal on every
individual page in each chapter */
/*
article.page {
	display: flex; 
	flex-direction: column;
	font-family: "orpheuspro", serif !important;
	margin: 5rem 0 0 0;
	text-align: center;
	max-width: 100%;}
article.page header {
	background-color: #d3d3d3;}
.path-breadcrumb {
	display: none;}
.body_copy {
	max-width: 100%;}
.heading_font {
	font-family: "orpheuspro", serif !important;}
h1 {
	align-self: flex-end; 
	font-feature-settings: "salt"; 
	line-height: 2; 
	padding-top: 250px; 
	text-align: left;}
h1 span.chSection{
	display: none;}
h1 span.chTitle:after {
	content:"Chapter Title: Subtitle";}
.chapter__sidenav {
	max-height: 500px;}
*/
.chapter__body {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	width: 100%;}
.chapter__sidenav {
	background-color: #d3d3d3;
	grid-column-start: 10;
	grid-column-end: 13;
	grid-row-start: 1;
	max-height: 500px;
	padding: 20px 10px;
	text-align: left;}
.chapter__sidenav p {
	font-family: "orpheuspro", serif;
	font-size: 36px;
	padding-left: 20px;}
.chapter__sidenav li {
	list-style: none;}
.sidenav__current {
	font-weight: 600;}
.chapter__body h2 {
	text-align: left;}
.chapter__body h2 span.heading__subsection {
	/*font-size: 21px;*/}
.chapter__body h3 {
	font-size: 21px;}
.chapter__body p {
	font-family: "sofia-pro", sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	text-align: left;
	max-width: 80%;}
.chapter__content {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: auto;
	grid-column-start: 1;
	grid-column-end: 10;
	grid-row-start: 1;}
.chapter__content h2, 
.chapter__content h3, 
.chapter__content h4, 
.chapter__content h5, 
.chapter__content h6 {
	grid-column-start: 1;
	grid-column-end: 10;
	text-align: left;}
.chapter__content p, 
.chapter__content figure.soundfile, 
.chapter__content blockquote {
	grid-column-start: 2;
	grid-column-end: 10;}
.chapter__content blockquote {
	max-width: 70%;}
.chapter__content div.media-sync {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: auto;
	grid-column-start: 1;
	grid-column-end: 10;}
.chapter__content div.media-sync div.sync-media {
	background-color: #d3d3d3;
	grid-column-start: 1;
	grid-column-end: 2;
	height: 50px;
	width: 50px;}
.chapter__content div.media-sync p.sync-text {
	grid-column-start: 2;
	grid-column-end: 10;}
.chapter__content div.media-sync div.sync-media div.slot.wrapped_slot.left_slot div.mediaelement.caption_font {
	width: 50px !important;}
.chapter__content div.media-sync div.sync-media div.mediaelement.caption_font div.media_tabs {
	display: none !important;}
.chapter__content div.media-sync p.sync-text {
	grid-column-start: 2;
	grid-column-end: 10;}
p span.footnote--reference {
	font-weight: 500;}
a.texteo_icon {
	padding-left: 0px;}
a.texteo_icon_note {
	background-image: none;}
#incoming_comments, 
#footer {
	display: none;}
/***** END CHAPTER SECTION PAGE *****/

/***** CUSTOMARY *****/
.customary {
	font-family: Garamond, serif;
	padding: 50px 100px;
	width: 100vw;}
.customary h1, 
.customary h2, 
.customary h3 {
	font-family: Garamond, serif !important;}
.customary h1, 
.customary h2 {
	text-align: center;}
.customary h1 {
	margin-bottom: 10px;}
.customary h2 {
	margin: 0; margin-bottom: 80px;}
.customary h3 {
	margin-bottom: 20px;
	padding: 0;}
.customary__contents {
	display: flex;
	flex-direction: row;}
.customary__contents>div {

}
.customary__contents ul,
.customary__contents li {
	list-style-type: none;}
.customary__contents li {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 12px;
	max-width: 90%;}
.customary__contents--latin {
	padding-left: 100px;
	width: 55%;}
.customary__contents--english {
	width: 45%;}
.customary__page {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	width: 100vw;}
.customary__sidebar {
	font-family: Garamond, serif;
	font-size: 21px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	line-height: 2.5;
	padding: 30px 0 30px 50px;}
.customary__sidebar ul,
.customary__sidebar li {
	list-style-type: none;}
.customary__page-content {
	font-family: Garamond, serif;
	grid-column-start: 3;
	grid-column-end: 13;
	grid-row-start: 1;
	padding: 50px 250px;}
.customary__page-content h1,
.customary__page-content h2 {
	font-family: "orpheuspro", serif !important;
	font-feature-settings: "salt";
	text-align: center;}
.customary__page-content h1 {
	font-size: 18px;
	margin: 0;}
.customary__page-content h2 {
	font-size: 42px;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 50px;}
.customary__page-content p {
	font-size: 18px;
	line-height: 1.8;}
/***** END CUSTOMARY *****/

/***** FIGURES *****/
p span.figure--reference {
	font-weight: 500;}
div.slot, 
div.slot.pillarbox {
	background-color: transparent;
	padding-left: 8.33%;}
div.slot .mediaelement.caption_font, 
div.slot.pillarbox .mediaelement.caption_font {
	display: flex !important;
	flex-direction: column;
	align-items: start;
	margin-left: 0 !important;}
div.slot .mediaelement.caption_font .mediaContainer .mediaObject img {
	height: auto !important;
	width: 800px !important;} /* landscape */
div.slot.pillarbox .mediaelement.caption_font .mediaContainer .mediaObject img {
	height: 600px !important;
	width: auto !important;} /* portrait */
.body_copy .caption_font.mediainfo div.media_description.pane, 
.body_copy.caption_font.mediainfo div.media_description.pane {
	font-family: "sofia-pro", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;}
/***** END FIGURES *****/

/***** HOME *****/
#home__toc {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.6)) , url("../media_large/bkg_toc.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 700px;
	padding-top: 120px;
	text-align: center;}
#home__toc a {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 600;
	height: 60px;
	margin-top: 20px;
	width: 300px;}
#home__toc .heading_font,
#home__toc--contents .heading_font {
	font-family: "orpheuspro", serif !important;}
#home__toc h1 {
	font-feature-settings: "salt";
	font-size: 96px;
	font-weight: 600;}
#home__toc h4 {
	font-size: 24px;
	line-height: 1.5;}
#home__toc p {
	font-size: 21px;
	line-height: 1.4;
	margin-top: 24px;
	max-width: 30%;}
#home__toc--contents {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;}
#home__toc--contents h2 {
	font-size: 48px;}
#home__toc--contents h3 a {
	color: #000;}
#home__toc--contents h3 span {
	display: block;
	margin-bottom: 16px;}
li {
	list-style: none;}
#home__contents--portals div {
	/***display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;***/
	display: none;
	height: 200px;}
article #home__contents--portals div h3.heading_font {
	font-size: 24 px;}
article #home__contents--portals div h3.heading_font span {
	color: blue;
	display: block;
	font-size: 18px;}
/***** END HOME *****/

/***** SOUND FILE *****/
figure.soundfile {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 300px;
	margin: 80px 0;}
figure.soundfile figcaption {
	margin: 50px 0;
	padding: 0 50px;}
figure.soundfile audio {
	background-color: none;
	color: #fff;
	filter: invert(100%);
	width: 100%;}
/***** END SOUND FILE *****/

/***** TABLE OF CONTENTS, DROPDOWN MENU *****/
	.tocMenu .expandedPage .description {
		display: none;}
/***** END TABLE OF CONTENTS, DROPDOWN MENU *****/